.vscode
Formative_Study/Logs/AssetImportWorker0.log
Formative_Study/Logs/AssetImportWorker0.log
Formative_Study/Logs/AssetImportWorker0.log
Formative_Study/Logs/AssetImportWorker1.log
Formative_Study/UserSettings/Layouts/default-2022.dwlt
Formative_Study/Assets/Oculus/OculusProjectConfig.asset
Result S
